<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prod.mapper.MemberMapper">

  <select id="getMembers" resultType="co.prod.vo.MemberVO">
    select * from members order by id desc
  </select>
  
  <select id="login" parameterType="co.prod.vo.MemberVO" resultType="co.prod.vo.MemberVO">
  	select * from members where id = #{id} and passwd = #{passwd}
  </select>
  
  <delete id="deleteMember" parameterType="string">
  	delete from members where id = #{id}
  </delete>
  
  <insert id="insertMember" parameterType="co.prod.vo.MemberVO">
  	insert into members (id, name, passwd, mail, auth)
  	values (#{id}, #{name}, #{passwd}, #{mail}, #{auth})
  </insert>
  
  <select id="memberList" resultType="co.prod.vo.MembersVO">
  	select * from members
  </select>
  
  <insert id="addNewMember" parameterType="co.prod.vo.MembersVO">
  	insert into members values (#{memberId}, #{memberName}, #{memberTel}, #{memberAddr}, #{memberPw})
  </insert>
  
<!--   <update id="deleteMembers" parameterType="co.prod.vo.MembersVO">
  	delete from members
  	<foreach collection="list" item="item" open="where member_id in (" close=")" separator="," >
  		#{item.memberId}
  	</foreach>
  </update> -->
  
  <delete id="deleteMembersAry" parameterType="string">
  	delete from members
  	<foreach collection="array" item="member" open="where member_id in (" close=")" separator="," >
  		#{member}
  	</foreach>
  </delete>
  
  <select id="selectEmployees" resultType="co.prod.vo.EmpVO">
  	select * from employees order by employee_id
  </select>
  
  <insert id="addEmp" parameterType="co.prod.vo.EmpVO">
  	<selectKey keyProperty="employeeId" resultType="int" order="BEFORE">
  		select employees_seq.nextval from dual
  		<!-- 생성되는 키 값을 미리 받아와서 처리 -->
  	</selectKey>
  	insert into employees (employee_id, first_name, last_name, email, job_id, hire_date, salary)
  	values (#{employeeId}, #{firstName}, #{lastName}, #{email}, 'IT_PROG', #{hireDate}, #{salary})
  </insert>
  
  <delete id="delEmp" parameterType="int">
  	delete from employees where employee_id = #{id}
  </delete>
  
</mapper>