<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.prod.mapper.ProductMapper">

  <select id="productList" resultType="ProductVO">
    select * from product
  </select>
  
  <select id="productInfo" resultType="ProductVO" parameterType="String">
    select * from product where product_code = #{code}
  </select>
  
  <select id="productReco" resultType="ProductVO">
  	<![CDATA[
    select * from (
	select * from product order by like_it desc ) a
	where rownum <= 4
	]]>
  </select>
  
  <select id="replyList" parameterType="string" resultType="ReplyVO">
  	select * from product_reply where product_code = #{code}
  </select>
  
  <delete id="replyDelete" parameterType="int">
  	delete from product_reply where reply_no = #{no}
  </delete>
  
  <insert id="insertReply" parameterType="ReplyVO">
  	<selectKey keyProperty="replyNo" resultType="int" order="BEFORE">
  		select reply_seq.nextval from dual
  		<!-- 생성되는 키 값을 미리 받아와서 처리 -->
  	</selectKey>
  	insert into product_reply (reply_no, reply_writer, reply_content, product_code)
  	values (#{replyNo}, #{replyWriter}, #{replyContent}, #{productCode})
  </insert>
  
  <select id="selectReply" parameterType="int" resultType="ReplyVO">
  	select * from product_reply where reply_no=#{rid}
  </select>
  
  <update id="updateReply" parameterType="ReplyVO">
  	update product_reply set reply_writer=#{replyWriter}, reply_content=#{replyContent} where reply_no=#{replyNo}
  </update>
  
  <select id="chartInfo" resultType="map">
	select department_name, count(*) as "cnt"
	from employees e join departments d
	on e.department_id = d.department_id
	group by department_name
  </select>
  
  <select id="eventList" resultType="EventVO">
  	select title, start_date as "start", end_date as "end" from full_calender order by 1
  </select>
  
  <insert id="addEvent" parameterType="EventVO">
  	insert into full_calender values(#{title}, #{start}, #{end})
  </insert>
  
  <delete id="deleteEvent" parameterType="EventVO">
  	delete from full_calender where title=#{title} and start_date=#{start} and end_date=#{end}
  </delete>
</mapper>